 
<!-- Toggle Button -->
 <a href="#menu-toggle" class="btn btn-group-vertical btn-sm toggled" id="menu-toggle">
     <i class="fa fa-bars" aria-hidden="true"></i>
 </a>
 <!-- Sidebar for desktop -->
 <div id="sidebar-wrapper" class="hidden-xs-down">
    <nav class="nav nav-pills flex-sm-row p-3 justify-content-center">
        <a class="flex-sm-fill text-sm-center nav-link active" href="#sidebar-home-content" data-toggle="tab" role="tab" id="home">Home</a>
        <a class="flex-sm-fill text-sm-center nav-link hidden-xl-down" href="#sidebar-toc-content" data-toggle="tab" role="tab" id="toc">Toc</a>
    </nav>
    <div class="tab-content" id="tab-content">
        <div class="tab-pane text-sm-center active" id="sidebar-home-content" >
            <img class="site-author-image m-2" itemprop="image" src="http://image.baidu.com/search/detail?ct=503316480&z=0&ipn=d&word=%E8%8B%A6%E5%8A%9B%E6%80%95%E6%A1%8C%E9%9D%A2&step_word=&hs=2&pn=23&spn=0&di=72106775400&pi=0&rn=1&tn=baiduimagedetail&is=0%2C0&istype=0&ie=utf-8&oe=utf-8&in=&cl=2&lm=-1&st=undefined&cs=3689268089%2C1903212600&os=2998627503%2C1010010482&simid=4059834586%2C727458316&adpicid=0&lpn=0&ln=1987&fr=&fmq=1511497353963_R&fm=&ic=undefined&s=undefined&se=&sme=&tab=0&width=undefined&height=undefined&face=undefined&ist=&jit=&cg=&bdtype=0&oriquery=&objurl=http%3A%2F%2Fupload.yoyojie.com%2F2015%2F0819%2F1439955869111.png&fromurl=ippr_z2C%24qAzdH3FAzdH3F4tgjv6wup_z%26e3By5y53tj_z%26e3Bv54AzdH3FgjofAzdH3Fda8cab8lAzdH3F8lnnd0_z%26e3Bfip4s&gsm=0&rpstart=0&rpnum=0">
			<div style="line-height: 5px; padding-top: 5px;">
				<p class="text-warning">ABCDXYZ</p>
				<p class="text-white">Nice to meet you.</p>
			</div>
			{% include nav-links.html %}
        </div>
        <div class="tab-pane fade text-sm-left" id="sidebar-toc-content">
        </div>
    </div>
    
</div>

<!-- Navbar for xsmall screen  -->
<div class="hidden-sm-up">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">{{site.title}}</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            {% include nav-links.html %}
        </div>
    </nav>
</div>
